/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root{
    --text-color: hsl(227,22%,100%);
    --header-footer-color-and-main-text-color: #475a85;
    --main-color: hsl(227, 22%, 71%);
    --main-h2-color: hsla(0, 0%, 100%, 0.6);
}   
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: -ms-grid;
    display: grid;
    min-height: 100vh;
    height: auto;
    -ms-grid-rows: 1fr 12fr 1fr;
    grid-template-rows: 1fr 12fr 1fr;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
            grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
}
header, footer{
    color: var(--text-color);
    background-color: var(--header-footer-color-and-main-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
main{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    color: var(--text-color);
    background-color: var(--main-color);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr calc(1fr) 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr calc(1fr) 1fr;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
        grid-template-areas: 
    "pic1"
    "h2-1"
    "pic2"
    "h2-2"
    "pic3"
    "h2-3" 
    "pic4"
    "h2-4";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
main img{
    margin-top: 25px;
    display: block;
}
main img:first-child{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pic1;
}
main img:nth-child(2){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: pic3;
}
main img:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: pic2;
}
main img:nth-child(4){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: pic4;
    margin-bottom: 25px;
}
main h2{
    margin-top: -2.1em;
    background-color: var(--main-h2-color);
    width: 300px;
    text-align: center;
    height: 1.5em;
}
main h2:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: h2-1;
    
}
main h2:nth-child(4){
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: h2-2;
}
main h2:nth-child(6){
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: h2-3;
}
main h2:nth-child(8){
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: h2-4;
}
footer{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
}
@media only screen and (min-width: 1000px)
{
    main{
        -ms-grid-rows: 7fr 1fr 7fr 1fr;
        grid-template-rows: 7fr 1fr 7fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
            grid-template-areas: 
        "pic1 pic2"
        "h2-1 h2-2"
        "pic3 pic4"
        "h2-3 h2-4";
        justify-items: center;
    }
    /* main h2{
        margin-top: -2.1em;
        background-color: var(--main-h2-color);
        width: 300px;
        text-align: center;
        height: 1.5em;
    } */
    main img:first-child{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    main img:nth-child(2){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    main img:nth-child(3){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    main img:nth-child(4){
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    main h2:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    main h2:nth-child(4){
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    main h2:nth-child(6){
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    main h2:nth-child(8){
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
}
@media only screen and (min-width: 1500px)
{
    main{
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
        "pic1 pic2 pic3 pic4"
        "h2-1 h2-2 h2-3 h2-4";
        -ms-flex-pack: distribute;
            justify-content: space-around;
        color: var(--header-footer-color-and-main-text-color);
    }
    main img{
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 85%);
                clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 85%);
        margin: auto auto 0px;
    }
    main h2{
        opacity: 0;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        margin: 0px 0px auto 0px;
        background-color: hsla(0, 0%, 100%, 0);
    }
    main .Camera:hover{
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%,50% 100%, 0% 85%);
                clip-path: polygon(0% 0%, 100% 0%, 100% 85%,50% 100%, 0% 85%);
    }
    main .Camera:hover~ h2:nth-child(2),main .Videocamera:hover~ h2:nth-child(4),main .Microphone:hover~ h2:nth-child(6),main .Lense:hover~ h2:nth-child(8){
        -webkit-transition: linear 1s;
        -o-transition: linear 1s;
        transition: linear 1s;
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }
    main .Videocamera:hover{
        -webkit-clip-path: circle(40% at 50% 50%);
                clip-path: circle(40% at 50% 50%);
    }
    main .Microphone:hover{
        -webkit-clip-path: inset(10% 10% 20% 10% round 5%);
                clip-path: inset(10% 10% 20% 10% round 5%);
    }
    main .Lense:hover{
        -webkit-clip-path: polygon(0% 0%,25% 42.5%,0% 85%,75% 85%,100% 42.5%,75% 0%);
                clip-path: polygon(0% 0%,25% 42.5%,0% 85%,75% 85%,100% 42.5%,75% 0%)
    }
    main img:first-child{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    main img:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    main img:nth-child(3){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    main img:nth-child(4){
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }
    main h2:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    main h2:nth-child(4){
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    main h2:nth-child(6){
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    main h2:nth-child(8){
        -ms-grid-row: 2;
        -ms-grid-column: 4;
    }
}